/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

img {
    height: 19px;
}

.header-logo {
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-menu {
    padding: 0 0 50px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 68px; 
}

nav>div>a {
    text-decoration: none;
    color: black;
    border-top: 2px transparent solid;
    padding-top: 20px; 
    cursor: default;
}

nav>div>a:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

footer {
    margin: 20px 0 0 0;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footer-colonne {
    padding: 20px;
    width: 100%;
}

.footer-titre {
    font-weight: bold;
}

.footer-liste {
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}

.footer-liste a {
    text-decoration: none;
    color: black;
    cursor: default;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 8px;
}

p {
    font-size: 16px;
}

.recherche {
    height: 50px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

form {
    display: flex;
}

.fa-location-dot{
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center; 
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 15px;
    
}

input {
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-right: none;
    border-left: none;
    font-size: 16px;
    font-weight: 700;
    padding: 13px;
}

.styled-recherche {
    background-color: #0065FC;
    padding: 15px 16px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}

.styled-glass {
    display: none;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

.filtres-title {
    font-size: 18px;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

.button-style {
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
    padding: 4px 20px;
}

.button-style:hover {
    background-color: #DEEBFF;
    ;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.fa-info {
    max-width: 24px;
    max-height: 24px;
    border: 1px #F2F2F2 solid;
    border-radius: 30px;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 33px;
    gap: 30px;
    width: 100%;
}

.hebergements-cards .card {
    margin-bottom: 15px;
    padding: 5px;
}

.hebergements-cards a {
    text-decoration: none;
    color: black;
    border: none;
    width: 100%;
    cursor: default;
}

.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.lien-afficher {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: black;
    border: none;
    display: block;
    padding-top: 20px;
    cursor: default;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    padding: 5px;
}

.populaires-cards a {
    text-decoration: none;
    color: black;
    border: none;
    width: 100%;
    cursor: default;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    margin-top: 60px;
    margin-bottom: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.activites-cards a {
    text-decoration: none;
    color: black;
    border: none;
    width: 100%;
    cursor: default;
}

.activites-cards img {
    height: 439px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards .card-title {
    margin-top: 10px;
    padding: 20px; 
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        margin: 0 auto;
    }

    .filtres {
        flex-direction: unset;
    }

    .filtres-title {
        width: 100%;
        margin-bottom: 5px;
    }

    .button-style {
        padding: 15px 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activites {
        margin-left: 30px;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-menu {
        width: 100%;
        gap: 0;
        padding-bottom: 10px;
    }

    nav>div>a {
        border-bottom: 2px #F2F2F2 solid;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav>div>a:hover {
        border-bottom: 2px #0065FC solid;
        border-top: none;
    }

    h1 {
        line-height: 25px;
        margin: 0 20px;
    }

    p {
        margin: 0 20px;
        line-height: 2;
    }

    .recherche {
        margin: 20px;
    }

    .styled-recherche {
        display: none;
    }

    .styled-glass {
        display: flex;
        background-color: #0065FC;
        padding: 15px 16px;
        justify-content: center;
        border-radius: 15px;
        border: none;
    }

    .fa-magnifying-glass {
        display: flex;
    }
    
    .filtres {
        margin: 20px;
    }

    .button-style {
        width: 45%;
    }

    .info {
        margin: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 0;
    }

    .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
        padding: 20px;
        margin-top: 10px;
    }

    .populaires-cards {
       flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 10px;
    }

    .hebergements {
        background-color: white;
        padding: 20px
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        
    }

    .hebergements-cards .card {
        margin-bottom: 0;
        padding: 0;
    }

    .activites {
        margin-top: 30px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
}

    .activites-cards img {
    height: 141px;
}

    footer {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

}